/* styles for all pages */
body {
  max-width: 800px;
  margin: 0 auto;
  background-color: antiquewhite;
}
body * {
  font-family: 'Courier New', Courier, monospace;
}
/* base <div> element in App2.js component */
/* centers headers, nav buttons, other buttons, and forms */
.App {
  text-align: center;
}


/* initial TestingBlock.js styles on page load, before randomizing (all pages but / (HowToUSe.js, About link) */
div.testBlock {
  padding: 15px;
  border: 7px solid black;
  margin:10px auto;
  border-radius: 5px;
  font-weight: 900;
}
.backgroundDiv {
  padding: 0.3rem;
  margin: 0.5rem;
  border: 4px solid #bbbbbb;
}


/* button elements without input fields in RandomizeColors.js and RandomizeLayout.js */
button {
  padding: 3px;
  margin: 5px;
  background-color: antiquewhite;
  border: 2px solid steelblue;
  color: #222266;
  font-size: 75%;
  font-weight: 900;
}


/* Used on ColorManifest.js component list of colors; every page but / (HowToUse.js) */
/* Used on form elements in RandomizeColors.js and ConfigureColors.js components/pages */
.colorManifest,form {
  padding: 3px;
  margin: 2px;
  background-color: #99bbdd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid #829288;
  overflow: visible;
  line-height: 115%;
}


/* Used on ConfigureColors.js and RandomizeColors.js only */
input,label {
  padding: 2px;
  margin: 2px;
  background-color: #99bbdd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
label {
  font-size: 13px;
}
input {
  width: 70px;
}


/* occurs only in TestingBlock.js; every page but / (HowToUSe.js) */
h3 {
  font-size: 150%;
}
#group1,#group2,#group3 {
  overflow: hidden;
}
.capital {
  text-transform: capitalize;
}


/* occurs only on base div element in ConfigureColors.js */
#configWrapperDiv {
  position: relative,
}
/* occurs only on Removed Colors list in ConfigureColors.js */
/* (bottom left corner) */
#configHistoryDiv {
  position: fixed;
  bottom: 0.7em;
  background-color: cadetblue;
  border: 4px solid black;
  padding: 6px;
  font-weight: 900;
  z-index: 5;
  left: 0.7em;
}
/* occurs only in form elements on ConfigureColors.js */
.lineUp {
  display: inline-block;
}


/* <a> elements appear only in / (HowToUse.js) */
a {
  font-weight: 900;
  margin: 3px;
  color: indianred;
  text-decoration: none;
  background-color: paleturquoise;
  padding: 3px;
  border: solid 2px steelblue;
  display: inline-block;
  border-radius: 3px;
}
/* <h1> elements appear only in / (HowToUse.js) */
h1 {
  font-size: 150%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 12px;
  font-weight: 900;
  color: #224488;
  text-decoration: underline overline double;
}
/* <h2> elements appear only in / (HowToUse.js) */
.home-h2 {
  background-color: cadetblue;
  border: 2px solid black;
  padding: 0.6em;
  font-weight: 900;
  display: inline-block;
  border-radius: 17px;
  margin: 0.7em auto;
}
/* <p> elements appear only in / (HowToUse.js) */
.basicText {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #ddc848;
  border: 7px solid black;
  border-radius: 5px;
  line-height: 130%;
  font-weight: 900;
  text-align: left;
  font-size: 120%;
}
/* Applies to <a> elements only in <p> in / (HowToUse.js) */
.basicText a {
  line-height: 75%;
}
/* <img> elements appear only in / (HowToUse.js) */
img {
  border: 7px double teal;
  border-radius:17px;
}


/* RandomizeColors.js only */
.inline-form {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
}
