/*! Fonts sourced from Font Squirrel (https://www.fontsquirrel.com) on August 26, 2020 */

/* fonts that get applied by 'Click for new text properties' button in RandomizeLayout.js */
@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('belligerent-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inknut_antiqua';
    src: url('inknutantiqua-black-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'inknut_antiqua';
    src: url('inknutantiqua-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'inknut_antiqua';
    src: url('inknutantiqua-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'inknut_antiqua';
    src: url('inknutantiqua-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'liberation_serif';
    src: url('liberationserif-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'liberation_serif';
    src: url('liberationserif-bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'liberation_serif';
    src: url('liberationserif-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'liberation_serif';
    src: url('liberationserif-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'office_code_pro';
    src: url('officecodepro-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'office_code_pro';
    src: url('officecodepro-bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'office_code_pro';
    src: url('officecodepro-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'office_code_pro';
    src: url('officecodepro-regularitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('opensans-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('opensans-bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('opensans-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_burlington_script';
    src: url('sf_burlington_script-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_burlington_script';
    src: url('sf_burlington_script_bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'sf_burlington_script';
    src: url('sf_burlington_script_bold_italic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'sf_burlington_script';
    src: url('sf_burlington_script_italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}